
/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */


* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
  font-size: 1em;
}

h2, h3 {
  margin: 0 0 1.1em 0;
}

.fa-bookmark {
  font-size:  30px;
  color:     ivory;
}


/*------------------------------------*\
   #HAMBURGER MENU
\*------------------------------------*/

.burger-rings {
  width:   25px;
  position: absolute;
  right:   10px;
  top:     15px;
  z-index:    2;
}

#burger {
  display: none;
}

#burger:checked ~ nav .navigation {
  padding-bottom: 10px;
}

#burger:checked ~ nav li {
  text-align:  center;
  height:        auto;
  opacity:          1;
  padding:      7px 0;
  transition: all .5s ease-in;
}

.burger-rings span {
  width:        100%;
  height:        5px;

  display:     block;
  position: absolute;
  top:           9px;
  border-radius: 2.5px;
  background-color: #f4f3f1;
}

.burger-rings span:first-child {
  top: 0px;
}
.burger-rings span:last-child {
  top: 18px;
}




/*------------------------------------*\
  #NAV BAR STYLES
\*------------------------------------*/


nav {
  padding-top:  50px;
  background-color:   #304B58;
  transition: all .5s ease-in;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 auto;
}

.navigation li {
  height:  0;
  opacity: 0;
  overflow: hidden;
}

.navigation li a {
  color:  ivory;
  outline: none;
  text-decoration:      none;
	text-transform:  uppercase;
	letter-spacing: 1px;
	font-weight:    400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}




/*------------------------------------*\
  #HOVER EFFECTS FOR NAV BAR ITEMS
\*------------------------------------*/


nav a:hover,
nav a:focus {
	outline: none;
}


/* Effect: Brackets */


.text-effect a::before,
.text-effect a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.text-effect a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.text-effect a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.text-effect a:hover::before,
.text-effect a:hover::after,
.text-effect a:focus::before,
.text-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}






/*------------------------------------*\
  #HEADER STYLES
\*------------------------------------*/


header {
  padding: 20px;
  height: 200px;
  background-color: #F0F5F8;

  display: flex;
}


 h1 {
   text-align: center;
   text-transform: uppercase;

   font-size: 2em;
   color: #000;
  }


.text-effect-2 h1 a::before,
.text-effect-2 h1 a::after {
	position: absolute;
	top:       50%;
	left:      50%;
	width:   280px;
	height:  100px;
	border: 2px solid rgba(241,159,15,0.2);

	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.text-effect-2 h1 a::after {
	width:      270px;
	height:      90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.text-effect-2 h1 a:hover::before,
.text-effect-2 h1 a:hover::after,
.text-effect-2 h1 a:focus::before,
.text-effect-2 h1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}


h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.414em;
}





/*------------------------------------*\
  #ABOUT STYLES
\*------------------------------------*/


.about-container {
  display: flex;
  flex-direction:  column;
  justify-content: center;
  padding: 20px;

  background-color: #EAEDEE;
}

.about-container .image-container {
  text-align: center;
}

.about-container img {
  width:  125px;
  height: 125px;
}

.about-container .description-container {
  text-align: center;
}





/*------------------------------------*\
  #ABOUT STYLES
\*------------------------------------*/

.project {
  display: flex;
  flex-direction: column;
  padding: 0;

  background-color: #F1F7F8;
}

.project img {
  width: 100%;
}
.project .description-container {
  padding: 0 20px;
}

.email {
  height: 50px ;
  margin: 7px  auto;

  padding-right: 139px;
  display: flex;
  justify-content: flex-start;
}





/*------------------------------------*\
  #CONTACT STYLES
\*------------------------------------*/

.contact-container {
  padding: 20px;
}

.description h4 {
  padding-bottom: 23px;
}

.contact-container input[type="text"],
.contact-container input[type="email"]
 {
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;

  width:    100%;
  outline:     0;

  margin: 20px 0;

  background: transparent;
}

.contact-container textarea {
  width:   100%;
  border:     0;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin:   20px 0;
}

.contact-container input[type="submit"] {
  margin:          20px 0;
  width:             100%;
  border: 1px solid black;
  border-radius:        0;
  background-color: transparent;
  padding:          5px 0;
}

.contact-container input[type="submit"]:focus {
  outline: none;
}





/*------------------------------------*\
  #SOCIAL BUTTONS STYLES
\*------------------------------------*/


 .social-container {
   display: flex;
   flex-direction: column;
 }

 .red-bubble, .pinterest, .instagram {
   width:      100%;
   height:     60px;
   margin-top: 15px;

   display: flex;
   align-items: center;
   justify-content: center;

   transition: all 0.9s ease;
   background:#676470;
   color:#fff;
   text-decoration: none;

 }





 /*------------------------------------*\
   #FOOTER STYLES
 \*------------------------------------*/

footer  {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {
  width: 100px;
}

.image-container {
  margin: 0;
  text-align: center;
}

.tiny-container {
  height: 25px;
  background: #162328;
}






 /*------------------------------------*\
   #ARROW BACK TO TOP STYLES
 \*------------------------------------*/


.ui-to-top {
  right: 15px;
  bottom: 15px;
  opacity: 0;

  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #FFF;
  background: rgba(97, 154, 181,0.8);
  border-radius: 50%;
  position: fixed;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
  transition: .4s all ease;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.ui-to-top:hover {
  color: #FFF;
  background: rgba(156, 211, 237,0.8);
  text-decoration: none;
}

.ui-to-top:focus {
  color: #fff;
}

.ui-to-top.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.ui-to-top .arrow {
  padding-bottom: 2px;
}






@media screen and (min-device-width: 940px) {

  /**
  For Smartphone and Tablet Viewports
  */





 /*------------------------------------*\
    #ARROW BACK TO TOP STYLE - MQ
\*------------------------------------*/


  .ui-to-top {
    position: fixed;
    overflow: hidden;
    opacity: 0;

    right: 49px;
    bottom: -55px;

    width: 50px;
    height: 50px;

    font-size: 24px;
    line-height: 46px;
    color: #FFF;
    text-align: center;
    text-decoration: none;

    background: #619AB5;
    border-radius: 50%;

    z-index: 20;
    transition: bottom 1s ease, opacity 3s, color 0.4s ease, background-color 0.4s ease;

    /*transition: .4s all ease; */
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }


  .ui-to-top:hover {
    color: #FFF;
    background: #9CD3ED;
    text-decoration: none;
  }


  .ui-to-top:focus {
    color: #fff;
  }


  .ui-to-top.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }






  /*------------------------------------*\
    #BURGER MENU STYLE - MQ
  \*------------------------------------*/


  .burger-rings {
    display: none;
  }



  /*------------------------------------*\
    #NAV BAR STYLES - MQ
  \*------------------------------------*/


  nav {
    padding-top: 0;
  }

  nav:hover {
    background-color: rgba(110,173,204,0.8);
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    height: auto;
    opacity: 1;
    padding: 15px 10px;
  }

  .navigation li a {
    font-size: 14px;
    letter-spacing: 1px;
  }




  /*------------------------------------*\
     #HEADER AND MAIN TITLE STYLES - MQ
  \*------------------------------------*/



  h1 {
     text-align: center;
     text-transform: uppercase;

     margin-top: 200px;
     font-size: 3.998em;

     text-decoration: none;
     color: #000;
    }


  h2 {
    font-size: 2.827em;
    text-transform: uppercase;
  }


  h3 {
    font-size: 1.999em;
    text-transform: uppercase;
  }


  header {
    height: 657px;
    background-color: #208AAE;
  }


    #about .header-container img {
      border: 1 px solid black;

      justify-content: center;
    }


  .container, .navigation, .header-container {
    max-width: 940px;
    margin: 0 auto;
  }





  /*------------------------------------*\
    #ABOUT STYLES - MQ
  \*------------------------------------*/



  .about-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 350px;

    padding: 100px 0;
  }

  .about-container img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
}







  /*------------------------------------*\
    #PROJECT STYLES - MQ
  \*------------------------------------*/


  p {
    font-size: 16px;
    line-height: 1.35;
    margin-top: 10px;
    margin-bottom: 20px;
  }


  .project {
    flex-direction: row;
    align-items: center;
  }

  .project:nth-child(2n+1) {
    flex-direction: row-reverse;
  }

  .project img {
    max-width: 100%;
  }

  .project .image-container {
    flex: 1;
  }

  .project .description-container {
    flex: 1;
    padding-left: 10px;
  }





  /*------------------------------------*\
    #CONTACT STYLES - MQ
  \*------------------------------------*/


 .contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 20px;
  }

  .contact-container .description {
    flex: 1;
    margin-right: 20px;
  }

  .contact-container .form {
    flex: 3;
  }





  /*------------------------------------*\
    #SOCIAL BUTTONS STYLES - MQ
  \*------------------------------------*/


  .social-container {
    display: flex;
    flex-direction: row;
  }


  .red-bubble, .pinterest, .instagram {
    flex: 1;
  }


  .red-bubble:hover,
  .pinterest:hover,
  .instagram:hover {
  background-color: #53a7ea;
}





 /*------------------------------------*\
   #FOOTER STYLES - MQ
 \*------------------------------------*/


.tiny-container p {
   color: #fff;
   text-align: center;
   font-size: 14px;
   font-weight: 400;

   margin-top: 3px;
   margin-bottom: 0px;
  }

}
