* {
  box-sizing: border-box;
}

html {
  font-family: Lato;
  font-size: 16px;
  /*line-height: 1.5625;*/
}

h2, h3, p {
  margin: 0 0 1.1em 0;
}

a {
  text-decoration: none;
}

/* hamburger style */

.burger-rings {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 2;
}
#burger {
  display: none;
}
#burger:checked ~ nav .navigation {
  padding-bottom: 10px;
}
#burger:checked ~ nav li {
  text-align: center;
  height: auto;
  opacity: 1;
  padding: 7px 0;
  transition: all .5s ease-in;
}

.burger-rings span {
  width: 100%;
  height: 5px;
  display: block;
  background-color: #f4f3f1;
  position: absolute;
  top: 9px;
  border-radius: 2.5px;
}

.burger-rings span:first-child {
  top: 0px;
}
.burger-rings span:last-child {
  top: 18px;
}

/* nav bar styles */

nav {
  background-color: #304B58;
  padding-top: 50px;
  transition: all .5s ease-in;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 auto;
}

.navigation li {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.navigation li a {
  color: ivory;
  text-decoration: none;
}

header {
  padding: 20px;
  height: 200px;
  background-color: #F6FAF9;
}

.header-container {

}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}


/* about styles */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  background-color: #EAEDEE;
}

.about-container .image-container {
  text-align: center;
}

.about-container img {
  width: 125px;
  height: 125px;
}

.about-container .description-container {
  text-align: center;
}


/* portfolio styles */

.project {
  display: flex;
  flex-direction: column;
  padding: 0;

  background-color: #F1F7F8;
}

.project img {
  width: 100%;
}
.project .description-container {
  padding: 0 20px;
}


/* contact styles */

.contact-container {
  padding: 20px;
}

.contact-container input[type="text"],
.contact-container input[type="email"]
 {
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;

  width: 100%;
  outline: 0;

  margin: 20px 0;

  background: transparent;
}

.contact-container textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin: 20px 0;
}

.contact-container input[type="submit"] {
  margin: 20px 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  background-color: transparent;
  padding: 5px 0;
}

.contact-container input[type="submit"]:focus {
  outline: none;
}

 /* social styles */

 .social-container {
   display: flex;
   flex-direction: column;
 }

 .red-bubble, .pinterest, .instagram {
   width: 100%;
   height: 60px;
   margin-top: 15px;

   display: flex;
   align-items: center;
   justify-content: center;

   transition: all 0.9s ease;
   background:#676470;
   color:#fff;
 }

 /* footer styles */

footer  {

  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {

  width: 100px;
}

.image-container {
  margin: 0;
  text-align: center;

}

.tiny-container {
  height: 25px;
  background: #ccc;
}

/* arrow to top style */
.arrow-to-top {
  position: fixed;
  bottom: 40px;
  right: 25px;
  width: 30px;
  height: 30px;
}
.arrow-to-top img {
  width: 40px;
  border-radius: 20px;
}


@media screen and (min-device-width: 960px) {

  nav {
    padding-top: 0;
  }

  .burger-rings {
    display: none;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    height: auto;
    opacity: 1;
    padding: 3px 10px;
  }

  .container, .navigation, .header-container {
    max-width: 960px;
    margin: 0 auto;
  }

  .about-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* project styles */

  .project {
    flex-direction: row;
    align-items: center;
  }
  .project:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
  .project img {
    max-width: 100%;
  }
  .project .image-container {
    flex: 1;
  }
  .project .description-container {
    flex: 1;
    padding-left: 10px;
  }

  /* contact styles */

 .contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 20px;
  }
  .contact-container .description {
    flex: 1;
    margin-right: 20px;
  }
  .contact-container .form {
    flex: 3;
  }

  /* social styles */

  .social-container {
    display: flex;
    flex-direction: row;
  }

  .red-bubble, .pinterest, .instagram {
    flex: 1;
  }

  .red-bubble:hover,
  .pinterest:hover,
  .instagram:hover {
   background-color: #53a7ea;
 }

  /* footer styles */

}
