* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

p {
  margin: 10px 0;
}

/* hamburger style */

.burger-rings {
  width: 25px;
  position: absolute;
}

.burger-rings span {
  width: 100%;
  height: 5px;
  display: block;
  background-color: black;
  position: absolute;
  top: 9px;
}

.burger-rings span:first-child {
  top: 0px;
}
.burger-rings span:last-child {
  top: 18px;
}



nav {
  background-color: #1e5f82;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.navigation li {
  padding: 3px 10px;
}

.navigation li a {
  color: ivory;
  text-decoration: none;
}

header {
  padding: 20px;
  height: 200px;
  background-color: #f4f3f1;
}

.header-container {

}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}


/* about styles */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid red;
}

.about-container .image-container {
  text-align: center;
}

.about-container img {
  width: 125px;
  height: 125px;
}

.about-container .description-container {
  text-align: center;
}


/* portfolio styles */

.project {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.project img {
  width: 100%;
}


/* contact styles */

.contact-container {
  padding: 20px;
}

.contact-container input[type="text"],
.contact-container input[type="email"]
 {
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;

  width: 100%;
  outline: 0;

  margin: 20px 0;

  background: transparent;
}

.contact-container textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin: 20px 0;
}

.contact-container input[type="submit"] {
  margin: 20px 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  background-color: transparent;
  padding: 5px 0;
}

.contact-container input[type="submit"]:focus {
  outline: none;
}

 /* social styles */

 .social-container {
   display: flex;
   flex-direction: column;
 }

 .red-bubble, .pinterest, .instagram {
   border: 1px solid black;
   width: 100%;
   height: 60px;
   margin-top: 15px;

   display: flex;
   align-items: center;
   justify-content: center;
 }


 /* footer styles */

footer  {

  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {

  width: 100px;
}

.image-container {
  margin: 25px 0;
  text-align: center;

}

.tiny-container {
  height: 25px;
  background: #ccc;
}


@media screen and (min-device-width: 960px) {
  .container, .navigation, .header-container {
    max-width: 960px;
    margin: 0 auto;
  }

  .about-container {
    flex-direction: row;
    justify-content: space-around;
  }

  /* project styles */

  .project {
    flex-direction: row;
    align-items: center;
  }
  .project img {
    max-width: 100%;
  }
  .project .image-container {
    flex: 2;
  }
  .project .description-container {
    flex: 1;
    padding-left: 10px;
  }

  /* contact styles */

 .contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 20px;
  }
  .contact-container .description {
    flex: 1;
    margin-right: 20px;
  }
  .contact-container .form {
    flex: 3;
  }

  /* social styles */

  .social-container {
    display: flex;
    flex-direction: row;
  }

  .red-bubble, .pinterest, .instagram {
    flex: 1;
  }

  /* footer styles */

}
